<%- include("../includes/head.ejs") %> 
    <%- include("../includes/navigation.ejs") %>
    <main>
        <% if (editMode) { %>
            <form action="/admin/edit-book" method="POST" class="add-book">
        <% } else { %>
            <form action="/admin/add-book" method="POST" class="add-book">
        <% } %>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%= editMode ? book.title : "" %>">
    
            <label for="image">Image</label>
            <input type="text" id="image" name="image" value="<%= editMode ? book.image : "" %>">
    
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"><%= editMode ? book.description : "" %></textarea>
            
            <% if (editMode) { %>
                <input type="hidden" name="bookId" value="<%= book._id %>">
            <% } %>

            <button type="submit" class="btn btn-add"><%= editMode ? "Update Book" : "Add Book" %></button>
        </form>
    </main>
    
    
<%- include("../includes/end.ejs") %> 