<%- include("../includes/head.ejs") %>
    <%- include("../includes/navigation.ejs") %>
    
    <main>
        <ul class="cart">
            <% if (cartItems.length === 0) { %>
                <h2 class="centered">Cart is empty</h2>
            <% } else { %>
            <% cartItems.forEach(item => { %>
                <li class="cart-item">
                    <h1><%= item.productId.title %></h1>
                    <h2>Quantity: <%= item.quantity %></h2>
                    <div class="cart-actions">
                        <form action="/cart?decrease=true" method="POST">
                            <input type="hidden" name="bookId" value="<%= item.productId._id %>">
                            <button type="submit" class="btn btn-decrease">-</button>
                        </form>
                        <form action="/cart" method="POST">
                            <input type="hidden" name="bookId" value="<%= item.productId._id %>">
                            <button type="submit" class="btn btn-increase">+</button>
                        </form>
                        <form action="/delete-cart-item" method="POST">
                            <input type="hidden" name="bookId" value="<%= item.productId._id %>">
                            <button type="submit" class="btn btn-delete">Delete</button>
                        </form>
                    </div>
                </li>
            <% }) %>
            <form class="cart-form">
                <button id="pre-order-btn" class="btn btn-order">Order Books</button>
            </form>
            <% } %>
        </ul>
        <div id="backdrop"></div>
        <div class="order-information">
            <form class="cart-form" action="/order" method="POST">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name">

                <label for="email">Email</label>
                <input type="text" id="email" name="email">

                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone">

                <label for="address">Address</label>
                <input type="text" id="address" name="address">

                <input type="hidden" name="userId" value="<%= userId %>">

                <button type="submit" class="btn btn-order btn-order-now">Order Now</button>
            </form>
            <button class="close-modal">X</button>
        </div>
    </main>
<%- include("../includes/end.ejs") %> 